<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://liz-bit285-registration.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>liz-bit285-registration.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>liz-bit285-registration</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$liz-bit285-registration</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="RegistrationConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:lizserver.database.windows.net,1433;Initial Catalog=bit285-registration-db;User ID=lizfallin@lizserver;Password=Mift0822" Name="Data Source=tcp:lizserver.database.windows.net,1433;Initial Catalog=bit285-registration-db;User Id=lizfallin@lizserver;Password=Mift0822" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:lizserver.database.windows.net,1433;Initial Catalog=bit285-registration-db;User ID=lizfallin@lizserver;Password=Mift0822;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\RegistrationConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:lizserver.database.windows.net,1433;Database=bit285-registration-db;User ID=lizfallin@lizserver;Password=Mift0822;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)RegistrationConnectionString-Web.config Connection String">
      <ParameterValue>Data Source=tcp:lizserver.database.windows.net,1433;Initial Catalog=bit285-registration-db;User Id=lizfallin@lizserver;Password=Mift0822</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>