<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="RegistrationConnectionString" connectionString="Server=tcp:bit285-fraktal.database.windows.net,1433;Database=bit285-registartion-db;User ID=fraktal@bit285-fraktal;Password=1Goodsong;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;"
      providerName="System.Data.SqlClient" />
    <add name="bit285_registartion_dbConnectionString" connectionString="Data Source=tcp:bit285-fraktal.database.windows.net,1433;Initial Catalog=bit285-registartion-db;User ID=fraktal@bit285-fraktal;Password=1Goodsong;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
    <customErrors mode="Off"/>
  </system.web>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>